#notice {
  color: green;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body { padding-top: 20px; }

.container {
	max-width: 940px;
}