<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "stylesheets/application", media: "all" %>
    <%= wicked_pdf_javascript_include_tag "application", media:'all' %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>